*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	display:flex;
	font-family: "Poppins", sans-serif;
}
body > div{
	margin:5% auto 0;
	max-width: 720px;
}
.tabs{
	display:flex;
	position: relative;
}
.tabs .line{
	position:absolute;	
	bottom:0;
	left:0;
	height:6px;
	width:0;
	background-color:#c23564;
	border-radius: 15px;
	transition:all 0.2s ease;
}
.tab-item{
	min-width: 80px;
	padding:16px 20px 11px 20px;
	color:#c23564;
	background-color:#fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 5px solid transparent;
	opacity:.6;
	font-size:20px;
	transition:all .2s ease;
	text-align: center;
	cursor: pointer;
}
.tabs .tab-icon{
	position:relative;
	font-size:24px;
	width:32px;
	top:2px;
}
.tab-item:hover{
	opacity:1;
	background-color:rgba(194,53,100,.05);
	border-color:rgba(194,53,100,.1);

}
.tab-item.active {
	opacity: 1;
  }
.tab-content {
	padding: 28px 0;
  }
.tab-pane{
	display:none;
	color:#333;

}
.tab-pane.active{
	display:block;
}
.tab-pane{
	font-style:24px;
	margin-bottom:8px;
}

